*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:linear-gradient(135deg,#0f0285,#4a0d66,#1b0480);
    color: rgb(241, 239, 106);
    line-height: 1.8;
    
}
/* .video{
        color: rgb(255, 255, 255);
    text-align: center;
border-color: rgb(97, 26, 189);
   border-style: solid;
box-shadow:  0 0 50px rgb(71, 4, 148);
   margin-left: 450px;
   margin-right: 450px;
   margin-top: 10px;
   padding-top: 15px;
   padding-bottom: 18px;
   
}
.video::after{
    content: "";
    inset: -4px;
   
    position: absolute;
    z-index: -1;
    border-radius: 30px; */
}
.header{ background-color: #3c1181;
    text-align: center;
    padding: 2px 2px;

    
}
h1{   
    text-align: center;
    padding-top: 22px;
    font-size: 30px;
     animation: float 3s ease-in infinite;

}
@keyframes float{
    0%{transform: translateY(1);}
    50%{transform: translateY(1);}
    100%{ transform: translateY(2s);}
}


.para{
    opacity: 0.5;
    padding-top: 20px;
   
}
.navbar{
     display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
   
}
.navbar a{
    font-size: 22px;
    text-decoration: none;
    color:inherit;
    font-weight: bold;
     transform: scale(0.3s);
    
}
.navbar a:hover{
    color: white;
    background-color: #4b32bd86;
    border: 5px color white;
     transform: scale(1.3);
     color: rgb(255, 255, 255);
   border: 1px solid  #4b32bd86;;
   border-radius: 10px;
}
.logo{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    animation: float 4s ease-in-out infinite;

}
@keyframes float{
    0%{transform: translateX(0);}
    50%{transform: translateX(-6px);}
    100%{ transform: translateX(0);}
}


.site p{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 50px;
}
.featured{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.city-card ul li{
   list-style: none;
}
.city-card{
    

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
     box-shadow:  0 0 20px rgb(135, 110, 228);

}
.information{
    text-align: center;
    padding: 50px 50px;
    line-height: 2.5;
    text-indent: 40px;
    
}
.img{
    display: flex;
    overflow-x: auto;
scroll-behavior: smooth;
    padding: 10px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
    gap: 10px;

   
}
.img::-webkit-scrollbar{
    height: 8px;

}
 h2{
    text-align: center;
    padding: 20px;
}

    
  
.card-box{
   
     width: 280px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
     box-shadow:  0 0 20px rgb(139, 223, 131);
}
.card-box:hover{
     transform: translateY(-50px) scale(1.04);
     box-shadow: 0 10px 25px rgba(189, 130, 130, 0.08);
}
h3:hover{
    transform: translateY(-5px) scale(1.04);
  
}
.card-box h3,.card-box p{
      padding: 10px 15px;
      color:rgb(217, 233, 161);
}

.city-day{
display: flex;
align-items: center;
padding-left: 150px;

}

#Cityoftheday{
    display: flex;
    justify-content: center;
}
.city-day img{
    width: 700px;
    border: rgb(255, 255, 255) solid;
    display: flex;
    align-items: center;
    box-shadow: 0 0 50px rgb(119, 137, 236);
    border-radius: 5px;
    animation: move 3s  infinite alternate;

   
}
@keyframes move{
    50%{
        filter:hue-rotate(180deg);
    }
}
.info-list h3{
    padding-left: 140px;
}
.info-list ul {
    padding-left: 150px;
}
.food{
border: 1px solid white; 
border-radius: 3px;
box-shadow: inherit;


}
.submit{
    text-align: center;

   
}
.submit h3{
    font-size: 27px;

}
form{
    font-style: initial;
}
.form{
  width: 100px;
  padding-left: 700px;
}
input{
  color: rgb(13, 3, 102);
  width: 400px; height: 40px;
  border-radius: 20px;


}
textarea{
    width: 500px; height: 40px;
    border-radius: 20px;
    
}
.textarea{
 
}
.button{
    padding-bottom: 6px;
}
.clear{
    width: 100px; height: 32px;
   background-color: red;
   border: 2px solid rgb(255, 84, 16);
       transition:2s;
        transform-style:initial;
}
.clear:hover{
    background-color: white;
    color: black;
    border: rgb(106, 170, 226);  
}
.sumbiting{
    width: 100px; height: 35px;
    border: 2px solid greenyellow;
    background-color: rgb(28, 197, 28);
        transition:2s;
        transform-style:initial;
}
.sumbiting:hover{
     background-color: white;
    color: black;
    border: rgb(106, 170, 226);  
}
p{
    text-align: center;
    font-weight: bold;

}
.contact{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-weight: bold;
}
h5{
    text-align: center;
    color: white;
    background: -webkit-radial-gradient(rgb(236, 60, 29));
   
}
.footer{
     animation: footercolor 8s infinite;
}

@keyframes footercolor{
    20%{
        background: #0c0000;
    }
    50%{
        background: #e4001b;
    }
    100%{
        background:#02c540
    }
   
}

@media(max-width:760px){
    .city-day-box{
        flex-direction: column;
    }
    .featured{
        flex-direction: column;
        align-items: center;
}
}




